{% extends "common/base.html" %}
{% load humanize %}
{% load mathfilters %}
{% load django_bootstrap5 %}
{% block content %}


<!-- Features section-->
<section class="py-5 id="features">
    <div class="container px-5 my-5">
        <h2 class="pb-2 mb-5 fw-bolder text-center border-bottom">評価</h2>
        {% for estimate in estimates %}
            <div class="row mb-3">
                <div class="col-md-2 text-end">{{ estimate.id }}</div>
                <div class="col-md-8">{{ estimate.estimate_display }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>


{% endblock content %}
{% block javascripts %}{% endblock javascripts %}
